# Default values for todo-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: todo-backend
  pullPolicy: Never
  tag: "optimized"

frontendImage:
  repository: todo-frontend
  pullPolicy: Never
  tag: "optimized"

service:
  type: ClusterIP
  port: 80

frontendService:
  type: NodePort
  port: 3000
  nodePort: 30000

persistence:
  enabled: true
  storageClass: "standard"
  accessMode: ReadWriteOnce
  size: 1Gi
  path: "/app/data/todo.db"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  pythonunbuffered: "1"
