apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: todo-app
  labels:
    app: {{ .Chart.Name }}
    component: backend
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: {{ .Chart.Name }}
    component: backend
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: todo-app
  labels:
    app: {{ .Chart.Name }}
    component: frontend
spec:
  type: {{ .Values.frontendService.type }}
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: {{ .Values.frontendService.nodePort }}
    protocol: TCP
    name: http
  selector:
    app: {{ .Chart.Name }}
    component: frontend
